* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #363d4c;
    position: relative;
}

.current-time-box {
    background: #F47069;
    padding: 20px;
    width: 70%;
    height: 70px;
    margin: 0 auto;
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.events-box {
    position: relative;
    top: 0;
    height: 100vh;
    background: #2f3542;
    padding: 80px 20px 20px 20px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #2f3542;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    text-align: justify;
}

.event-container {
    background: #FAFAFA;
    font-size: 14px;
    margin: 40px 0 20px 0;
    border-radius: 0 0 0 20px;
    padding: 35px 30px 25px 30px;
    position: relative;
    animation: show .3s linear;
    text-indent: 30px;
}

.event-header-container {
    top: -25px;
    left: 0;
    font-size: 16px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.event-title,
.event-date {
    padding: 5px 10px;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
    color: #FAFAFA;
    text-indent: 0;
}

.event-title {
    background-color: #F47069;
    text-transform: uppercase;
    font-size: 16px;
    animation: from-left .3s linear;

    padding: 10px 15px;
    font-family: 'Oswald', sans-serif;
}

.event-date {
    background-color: #2f3542;
    font-size: 12px;
    animation: from-right .3s linear;
}


@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes from-left {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes from-right {
    from {
        transform: translateX(30px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@media screen and (max-width: 1000px) {

    .events-box {
        width: 95%;
    }

    .current-time-box {
        width: 95%;
    }
}

@media screen and (max-width: 750px) {

    .event-container {
        font-size: 12px;
    }

    .event-title {
        font-size: 14px;
        animation: from-left .3s linear
    }

    .event-date {
        font-size: 10px;
        animation: from-right .3s linear
    }
}

@media screen and (max-width: 600px) {

    .event-title {
        width: 100%;
    }

    .event-date {
        position: absolute;
        right: 0;
        top: -20px;
        ;
    }

    .event-container {
        margin-bottom: 50px;
    }

    .current-time-box {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {

    .current-time-box {
        font-size: 14px;
    }
}